<h1><%= @movie.title%></h1>

<p><%= @movie.body %></p>

<ul>
  <li><%= link_to "Edit", edit_movie_path(@movie) %></li>
  <li><%= link_to "Destroy", movie_path(@movie), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<% if @movie.comments.size!=0 %>
  <%= render @movie.comments.last %>
<% end %>
<%= link_to "Comments", movie_comments_path(@movie) %>



<h2>Add a comment:</h2>
<%= render 'comments/form'%>



<%= link_to "All Movie", movies_path %>
