<p style="color: green"><%= notice %></p>

<%= render @temp %>

<div>
  <%= link_to "Edit this temp", edit_temp_path(@temp) %> |
  <%= link_to "Back to temps", temps_path %>

  <%= button_to "Destroy this temp", @temp, method: :delete %>
</div>
